* {
    margin: 0;
    padding: 0;
}

body {
   background-image: url("./4geeks acad.jpg");
   background-size: 50px;
   background-repeat: repeat;
   height: 100vh;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.directParent {
position: relative;
padding: 80px;
opacity: 0.9;
box-shadow: 10px 10px 40px 2px rgb(233, 233, 233) inset;
}

.item2 {
  position: absolute;
    top: -30px;
    left: -5px;
    transform: scale(4, 4) rotate(10deg);
}

.item1 {
    padding: 10px;
    color: whitesmoke;
    font-size: xx-large;
}
